<div class="left-sidebar">
    <!-- left sidebar HEADER -->
    <div class="left-sidebar-header">
        <div class="left-sidebar-title">Navigation</div>
        <div class="left-sidebar-toggle c-hamburger c-hamburger--htla hidden-xs"
             data-toggle-class="left-sidebar-collapsed" data-target="html">
            <span></span>
        </div>
    </div>
    <!-- NAVIGATION -->
    <!-- ========================================================= -->
    <div id="left-nav" class="nano">
        <div class="nano-content">
            <nav>
                <ul class="nav nav-left-lines" id="main-nav">
                    <!--HOME-->
                    <li class="active-item"><a href="{{ path('admin_accueil') }}"><i class="fa fa-home"
                                                                                     aria-hidden="true"></i><span>Accueil</span></a>
                    </li>
                    <!--Commandes-->
                    <li class="has-child-item close-item">
                        <a><i class="fa fa-shopping-cart" aria-hidden="true"></i><span>Commandes</span></a>
                        <ul class="nav child-nav level-1">
                            <li><a href="{{ path('admin_commande_index') }}">Liste de commandes</a></li>
                            <li><a href="{{ path('admin_commande_new') }}">Ajouter commande</a></li>

                        </ul>
                    </li>
                    <!--PRODUITS-->
                    <li class="has-child-item close-item">
                        <a><i class="fa fa-cart-plus" aria-hidden="true"></i><span>Produits</span></a>
                        <ul class="nav child-nav level-1">
                            <li><a href="{{ path('app_produit_index') }}">Liste de produits</a></li>
                            <li><a href="{{ path('app_produit_new') }}">Ajouter produit</a></li>

                        </ul>
                    </li>

                    <!--CATEGORIES-->
                    <li class="has-child-item close-item">
                        <a><i class="fa fa-list" aria-hidden="true"></i><span>Categories</span> </a>
                        <ul class="nav child-nav level-1">
                            <li><a href="{{ path('app_categorie_index') }}">Liste de categories</a></li>
                            <li><a href="{{ path('app_categorie_new') }}">Ajouter Categorie</a></li>
                        </ul>
                    </li>
                    <!--SLIDERS-->
                    <li class="has-child-item close-item">
                        <a><i class="fa fa-image" aria-hidden="true"></i><span>Sliders</span> </a>
                        <ul class="nav child-nav level-1">
                            <li><a href="{{ path('app_slider_index') }}">Liste de sliders</a></li>
                            <li><a href="{{ path('app_slider_new') }}">Ajouter slider</a></li>
                        </ul>
                    </li>

                    <!--VILLES-->
                    <li class="has-child-item close-item">
                        <a><i class="fa fa-map-marker" aria-hidden="true"></i><span>Villes</span> </a>
                        <ul class="nav child-nav level-1">
                            <li><a href="{{ path('app_ville_index') }}">Liste de villes</a></li>
                            <li><a href="{{ path('app_ville_new') }}">Ajouter ville</a></li>
                        </ul>
                    </li>
                    <!--ATTRIBUTS-->
                    <li class="has-child-item close-item">
                        <a><i class="fa fa-check" aria-hidden="true"></i><span>Attributs</span> </a>
                        <ul class="nav child-nav level-1">
                            <li><a href="{{ path('app_attribut_index') }}">Liste des attributs</a></li>
                            <li><a href="{{ path('app_attribut_new') }}">Ajouter un attributs</a></li>
                        </ul>
                    </li>
                    <!--CARACTERISTIQUES-->
                    <li class="has-child-item close-item">
                        <a><i class="fa fa-th-large" aria-hidden="true"></i><span>Caracteristiques</span> </a>
                        <ul class="nav child-nav level-1">
                            <li><a href="{{ path('app_caracteristique_index') }}">Liste des caracteristiques</a></li>
                            <li><a href="{{ path('app_caracteristique_new') }}">Ajouter une caracteristique</a></li>
                        </ul>
                    </li>
                    <!--STATUS-->
                    <li class="has-child-item close-item">
                        <a><i class="fa fa-pencil" aria-hidden="true"></i><span>Status</span> </a>
                        <ul class="nav child-nav level-1">
                            <li><a href="{{ path('app_status_index') }}">Liste des status</a></li>
                            <li><a href="{{ path('app_status_new') }}">Ajouter un status</a></li>
                        </ul>
                    </li>

                    <!--TYPEREDUCTION-->
                    <li class="has-child-item close-item">
                        <a><i class="fa-solid fa-chart-line"></i><span>Types Reduction</span> </a>
                        <ul class="nav child-nav level-1">
                            <li><a href="{{ path('app_typeReduction_index') }}">Liste des types de reduction</a></li>
                            <li><a href="{{ path('app_typeReduction_new') }}">Ajouter un type de reduction</a></li>
                        </ul>
                    </li>
                    <!--COUPONS-->
                    <li class="has-child-item close-item">
                        <a><i class="fa-solid fa-gift"></i><span>Coupon</span> </a>
                        <ul class="nav child-nav level-1">
                            <li><a href="{{ path('app_coupon_index') }}">Liste des Coupons</a></li>
                            <li><a href="{{ path('app_coupon_new') }}">Ajouter un Coupon</a></li>
                        </ul>
                    </li>
                    <!--FAQS-->
                    <li class="has-child-item close-item">
                        <a><i class="fa fa-question" aria-hidden="true"></i><span>Faqs</span> </a>
                        <ul class="nav child-nav level-1">
                            <li><a href="{{ path('admin_faq_index') }}">Liste de questions</a></li>
                            <li><a href="{{ path('admin_faq_new') }}">Ajouter question</a></li>
                        </ul>
                    </li>
                    <li class="has-child-item close-item">
                        <a><i class="fa fa-envelope-open" aria-hidden="true"></i><span>Newsletters</span> </a>
                        <ul class="nav child-nav level-1">
                            <li><a href="{{ path('admin_newsletter_index') }}">Liste de newsletter</a></li>
                            <li><a href="{{ path('admin_newsletter_new') }}">Ajouter newsletter</a></li>
                        </ul>
                    </li>

                </ul>
            </nav>
        </div>
    </div>
</div>