<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>FAEM : acheter nos meilleurs produits en simples clics</title>
    <meta name="keywords" content="Robe, Chemise, maquillage" />
    <meta name="description" content="FAEM : acheter nos meilleurs produits en simples clics">
    <meta name="author" content="jc-web.net">
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href= {{ asset('frontend/assets/images/icons/favicon.png') }}>
    <script>
        WebFontConfig = {
            google: {
                families: ['Open+Sans:300,400,600,700,800', 'Poppins:300,400,500,600,700']
            }
        };
        (function(d) {
            var wf = d.createElement('script'),
                s = d.scripts[0];
            wf.src = 'assets/js/webfont.js';
            wf.async = true;
            s.parentNode.insertBefore(wf, s);
        })(document);
    </script>
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="{{ asset('frontend/assets/css/bootstrap.min.css') }}">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="{{ asset('frontend/assets/css/demo10.min.css') }}">
    <link rel="stylesheet" href="{{ asset('frontend/assets/css/animate.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('frontend/assets/vendor/simple-line-icons/css/simple-line-icons.min.css') }}">
    {% block css %}{% endblock %}
</head>
<body>
{%set produits_cmd=app.session.get('produits') %}
<div class="page-wrapper">
    {% include 'frontend/layouts/header.html.twig' %}
 {% block content %}
    {% endblock %}
</div>
<!-- End .page-wrapper -->
{% include 'frontend/layouts/menu_mobile.html.twig' %}
{% include 'frontend/layouts/footer.html.twig' %}
<!-- Plugins JS File -->
<script src="https://kit.fontawesome.com/d6c62b0e44.js" crossorigin="anonymous"></script>
<script src="{{ asset ('frontend/assets/js/jquery.min.js')}}"></script>
<script src="{{ asset ('frontend/assets/js/bootstrap.bundle.min.js')}}"></script>
<script src="{{ asset ('frontend/assets/js/plugins.min.js')}}"></script>
<script src="{{ asset ('frontend/assets/js/optional/isotope.pkgd.min.js')}}"></script>
<script src="{{ asset ('frontend/assets/js/jquery.appear.min.js')}}"></script>
<script src="{{ asset ('frontend/assets/js/main.min.js')}}"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
<style>
    .swal2-popup{
        width: 48em !important;
    }
</style>
{% for message in app.flashes('success') %}
    <script>
        Swal.fire({
            position: 'top-center',
            icon: 'success',
            title: '{{ message }}',
            showConfirmButton: true,
        })
    </script>
{% endfor %}
{% block js %}{% endblock %}
</body>
</html>