<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from portotheme.com/html/porto_ecommerce/demo10.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 06 Jul 2022 12:37:06 GMT -->
<head>
    <meta charset="UTF-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <title>Porto - Bootstrap eCommerce Template</title>

    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Porto - Bootstrap eCommerce Template">
    <meta name="author" content="SW-THEMES">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="frontend/assets/images/icons/favicon.png">

    <script>
        WebFontConfig = {
            google: {
                families: ['Open+Sans:300,400,600,700,800', 'Poppins:300,400,500,600,700']
            }
        };
        (function(d) {
            var wf = d.createElement('script'),
                s = d.scripts[0];
            wf.src = 'assets/js/webfont.js';
            wf.async = true;
            s.parentNode.insertBefore(wf, s);
        })(document);
    </script>

    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="frontend/assets/css/bootstrap.min.css">

    <!-- Main CSS File -->
    <link rel="stylesheet" href="frontend/assets/css/demo10.min.css">
    <link rel="stylesheet" type="text/css" href="frontend/assets/css/animate.min.css">
    <script src="https://kit.fontawesome.com/d6c62b0e44.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="frontend/assets/vendor/simple-line-icons/css/simple-line-icons.min.css">
</head>

<body>
<div class="page-wrapper">
    {% include 'frontend/layouts/header.html.twig' %}

 {% block content %}

    {% endblock %}


</div>
<!-- End .page-wrapper -->

{% include 'frontend/layouts/menu_mobile.html.twig' %}



{% include 'frontend/layouts/footer.html.twig' %}



<!-- Plugins JS File -->
<script src="{{ asset ('frontend/assets/js/jquery.min.js')}}"></script>
<script src="{{ asset ('frontend/assets/js/bootstrap.bundle.min.js')}}"></script>
<script src="{{ asset ('frontend/assets/js/plugins.min.js')}}"></script>
<script src="{{ asset ('frontend/assets/js/optional/isotope.pkgd.min.js')}}"></script>
<script src="{{ asset ('frontend/assets/js/jquery.appear.min.js')}}"></script>

<!-- Main JS File -->
<script src="frontend/assets/js/main.min.js"></script>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<style> .swal2-popup{
        width: 48em !important;
    }</style>
{% for message in app.flashes('success') %}
    <script>
        Swal.fire({
            position: 'top-center',
            icon: 'success',
            title: '{{ message }}',
            showConfirmButton: true,
        })
    </script>
{% endfor %}


</body>

</html>