<div class="loading-overlay">
    <div class="bounce-loader">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>
<div class="mobile-menu-overlay"></div>
<!-- End .mobil-menu-overlay -->

<div class="mobile-menu-container">
    <div class="mobile-menu-wrapper">
        <span class="mobile-menu-close"><i class="fa fa-times"></i></span>
        <nav class="mobile-nav">
            <ul class="mobile-menu">
                <li><a href="{{ path('app_accueil') }}">Accueil</a></li>

                <li><a href="#">Categories</a>
                    <ul>
                        {% for categorie in categories() %}
                            <li><a href="{{ path('app_categorie', {'slug': categorie.slug}) }}">{{ categorie.nom }}</a>
                                {% for  sousCategorie  in categorie.categories %}
                                    <ul>
                                        <li>
                                            <a href="{{ path('app_categorie', {'slug': sousCategorie.slug}) }}">{{ sousCategorie.nom }}</a>
                                        </li>
                                    </ul>
                                {% endfor %}
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                <li><a href="{{ path('app_faq') }}">Faqs</a></li>
                <li><a href="{{ path('app_contact') }}">Contactez nous</a></li>
                <li><a href="{{ path('app_blogs') }}">Blog</a></li>
                <li><a href="{{ path('app_wishlist') }}">Favoris</a></li>
                {% if app.user %}
                    <li class="border-0"><a href="{{ path('app_logout') }}" class="border-0">DECONNEXION</a>
                    </li>
                {% else %}
                    <li class="border-0"><a href="{{ path('app_login') }}" class="border-0">CONNEXION</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
        <!-- End .mobile-nav -->
        <div class="social-icons">
            <a href="{%if parametre() %}{{ parametre().facebook }}{% else %}#{% endif %}" class="social-icon" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="{%if parametre() %}{{ parametre().whatsapp }}{% else %}#{% endif %}" class="social-icon" target="_blank"><i class="fa fa-whatsapp"></i></a>
            <a href="{%if parametre() %}{{ parametre().instagram }}{% else %}#{% endif %}" class="social-icon" target="_blank"><i class="fa fa-instagram"></i></a>

        </div>
    </div>
    <!-- End .mobile-menu-wrapper -->
</div>
<!-- End .mobile-menu-container -->
