{% extends 'backend/layouts/base.html.twig' %}
{% block css %}
    <!--dataTable-->
    <link rel="stylesheet" href="{{ asset('backend/vendor/data-table/media/css/dataTables.bootstrap.min.css') }}">
{% endblock %}

{% block content %}

    <!-- content HEADER -->
    <!-- ========================================================= -->
    <div class="content-header">
        <!-- leftside content header -->
        <div class="leftside-content-header">
            <ul class="breadcrumbs">
                <li><i class="fa fa-home" aria-hidden="true"></i><a href="{{ path('admin_accueil') }}">Accueil</a></li>
                <li><a>Newsletter</a></li>
            </ul>
        </div>
    </div>
    <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
    <!--SEARCHING, ORDENING & PAGING-->
    <div class="row animated fadeInRight">
        <div class="col-sm-12">
            {# ---PANEL- -#}
            <div class="panel">
                <div class="panel-header panel-success">
                    <h3 class="panel-title">Liste des emails </h3>

                </div>

                <div class="panel-content">

                    <a class="btn btn-sm btn-success btn-center" href="{{ path('admin_newsletter_new') }}"><span class="fa fa-plus"></span> </a>
                    <a class="btn btn-sm btn-danger"><span class="fa fa-trash"></span> </a>
                    <div class="table-responsive">
                        <table id="basic-table" class="data-table table table-striped nowrap table-hover"
                               cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>Email</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for newsletter in newsletters %}
                                <tr>
                                    <td>{{ newsletter.email }}</td>

                                    <td>
                                        <div class="btn-toolbar btn-group-sm">

                                            <a class="btn btn-warning"
                                               href="{{ path('admin_newsletter_edit', {'id': newsletter.id}) }}"><i
                                                        class="fa fa-pencil"></i>
                                            </a>
                                            <a class="btn btn-danger"
                                               href="{{ path('admin_newsletter_delete', {'id': newsletter.id}) }}"
                                               onclick="return confirm('Etes vous sûre de supprimer ce champ?')"><i
                                                        class="fa fa-trash"></i>
                                            </a>
                                        </div>
                                    </td>

                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>

                </div>
            </div>

        </div>
    </div>
    <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->

{% endblock %}
{% block js %}
    <!--dataTable-->
    <script src="{{ asset('backend/vendor/data-table/media/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('backend/vendor/data-table/media/js/dataTables.bootstrap.min.js') }}"></script>
    <!--Examples-->
    <script src="{{ asset('backend/javascripts/examples/tables/data-tables.js') }}"></script>
{% endblock %}
