{% extends 'frontend/layouts/base.html.twig' %}
{% block css %}
    <style>
        .page-item > a {
            display: flex;
            padding: 3px;
            align-items: center;
            justify-content: center;
            width: 90px !important;
            height: 33px;
            border: 2px solid #0a0c0d;
            background-color: #0a0c0d;
            color: white;
        }
        .container{
            max-width: 1200px;
        }
    </style>
{% endblock %}
 {% block content %}
     <main class="main">
         <section class="section-1">
             <h2 class="d-none">Home Slider</h2>

             <div class="home-slider slide-animate owl-carousel owl-theme show-nav-hover" data-owl-options="{
						'loop': false,
						'navText': [ '<i class=icon-left-open-big>', '<i class=icon-right-open-big>' ]
					}">
                 {% for slider in sliders %}

                     <div class="banner {{ slider.textPosition }}">
                         <img src="{{ asset('uploads/images/sliders/'~slider.imageName) }}" width="1620" height="980"
                              style="background-color: #eee;" alt="slider-one">

                         <div class="banner-layer banner-layer-middle">
                             <h6 class=" appear-animate" data-animation-name="fadeInRightShorter"
                                 data-animation-delay="200">{{ slider.titre }}</h6>

                             <h3 class=" appear-animate" data-animation-name="fadeInRightShorter"
                                 data-animation-delay="700">{{ slider.sousTitre }}</h3>
                             {% if slider.lien %}
                             <a href="{{ slider.lien }}" target="_blank" class="btn btn-xl appear-animate"
                                data-animation-name="fadeInRightShorter" data-animation-delay="950" role="button">
                                     Acheter maintenant<i class="fas fa-chevron-right"></i></a>{% endif %}
                         </div>
                         <!-- End .banner-layer.banner-layer-middle -->
                     </div>
                     <!-- End .banner -->
                 {% endfor %}


             </div>
         </section>
         <!-- End .section-1 -->

         <section class="section-5 product-collection text-center appear-animate" data-animation-name="fadeIn"
                  data-animation-delay="100">
             <div class="container">
                 <h2 class="section-title text-left">Meilleurs Produits</h2>
                 <div class="row div-produits">
                     {% include'frontend/layouts/produits.html.twig' with {'produits':produits} %}
                 </div>

                 <div class="navigation text-center d-inline-block">
                     <div class="load-more text-center d-inline-block">
                         <button class="btn btn-xl voir-plus" role="button" data-page="2">Voir Plus</button>
                     </div>
                 </div>

             </div>
         </section>
         <!-- End .section-5 -->
     </main>
     <!-- End .main -->

 {% endblock %}
{% block js %}

    <script>
        $('body').on("click",".voir-plus",function (e) {
            let page = $(this).data('page')
            let url = Routing.generate("app_accueil");
            $.ajax({
                method: 'POST',
                url: url,
                data: {'page': page},
                success: function (data) {
                    $(".div-produits").append(data.content);
                    $('.voir-plus').data('page', page + 1);
                    if( data.nbrProduits<8)
                    {
                        $('.voir-plus').hide();
                    }
                },
                error: function (xhr, status) {
                    alert("Erreur lors de chargement de page  merci de réessayer")
                }
            });
        });
        $('body').on("click",".btn-add-cart", function (event) {
            event.preventDefault();
            produit=$(this).data('produit');
            $.ajax({
                method: 'POST',
                url: Routing.generate('app_ajouter_produit',{'id':produit}),
                data: {qte:1},
                success: function (data) {
                    Swal.fire({
                        position: 'top-center',
                        icon: 'success',
                        title: data.message,
                        showConfirmButton: true,
                    });

                    $(".mobile-cart").html(data.content);
                    $(".cart-count").html(data.nbrProduits)
                },
                error: function (xhr, status) {
                    alert("Erreur Lors de l'ajout du produit")
                }
            });
        });
        $('body').on("click",'.btn-favoris', function (event) {
            event.preventDefault();
            produit=$(this).data('produit');
            $.ajax({
                method: 'POST',
                url: Routing.generate('app_ajouter_produit_wishlist',{'id':produit}),

                success: function (data) {
                    Swal.fire({
                        position: 'top-center',
                        icon: 'success',
                        title: data.message,
                        showConfirmButton: true,
                    });

                },
                error: function (xhr, status) {
                    console.log(xhr);
                    alert("Erreur Lors de l'ajout du produit")
                }
            });
        });
    </script>


{% endblock %}

