{% extends 'frontend/layouts/base.html.twig' %}
{% block content %}
    <main class="main contact-two mb-4">
        <nav aria-label="breadcrumb" class="breadcrumb-nav sticky-header p-0 mb-0">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('app_accueil') }}"><i class="icon-home"></i></a></li>
                    <li class="breadcrumb-item active" aria-current="page">Politique de retour | Échange</li>
                </ol>
            </div><!-- End .container -->
        </nav>


        <div class="container">
            <div class="row ">
                <div class="col-md-12">
                    <h2 class="mt-2 mb-1">Politique de retour | Échange </h2>

                    <div id="accordion">
                        <div id="accordion">
                            <div class="card card-accordion">


                                <a class="card-header collapsed" href="#" data-toggle="collapse"
                                   data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">

                                    Comment retourner un produit ?
                                </a>

                                <div id="collapseOne" class="collapse show " data-parent="#accordion" style="">
                                    <p>
                                        Si "Vous" souhaitez retourner ou échanger une commande, il vous suffit de nous
                                        faire part de votre décision. Pour ce faire, "Vous" pouvez nous contacter via
                                        whatsapp au <b>{{parametre().tel}}</b> ou par mail <a
                                                href="mailto:{{parametre().email}}">{{parametre().email}}</a></p>
                                    <p> Si vous souhaitez échanger une taille, indiquez la taille souhaitée dans votre
                                        message. Les échanges sont envoyés via une livraison standard à vos frais.
                                        message. Les échanges sont envoyés via une livraison standard à vos frais.</p>
                                </div>
                            </div>
                            <div class="card card-accordion">
                                <a class="card-header collapsed" href="#" data-toggle="collapse"
                                   data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Quel est le délai de retour chez Faem ?
                                </a>
                                <div id="collapseTwo" class="collapse" data-parent="#accordion" style="">
                                    <p>Vous disposez d’un <b>délai de 7 jours </b> pour faire l’essai de vos achats et
                                        pour demander un
                                        retour/échange. À tout moment, Faem se réserve le droit de refuser un retour ou
                                        un échange, et de demander une photo à titre de preuve.
                                    </p>
                                    <p> Passé ce délai, nous n’acceptons malheureusement plus les retours.</p>
                                </div>
                            </div>
                            <div class="card card-accordion">
                                <a class="card-header collapsed" href="#" data-toggle="collapse"
                                   data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Quelles sont les conditions pour retourner un produit et quelle est la procédure ?
                                </a>
                                <div id="collapseThree" class="collapse" data-parent="#accordion" style="">
                                    <p>
                                        Veuillez nous communiquer votre numéro de commande et la confirmation de
                                        commande ; un de nos collaborateurs vérifiera les
                                        détails de votre commande et procédera à votre retour. Notre collaborateur se
                                        chargera de fixer la date et l’heure de réception de vos articles à l’adresse
                                        indiquée dans votre commande initiale.
                                    </p>
                                    <p>Les produits retournés doivent être non utilisés non lavés, ne
                                        doivent pas être assemblés et doivent être restitués dans leur emballage
                                        d’origine complet.</p>

                                    <p>Si vous estimez que vos articles sont défectueux, veuillez contacter notre
                                        service client via WhatsApp <b> {{parametre().tel}}</b>. Donnez-nous une brève
                                        description du
                                        défaut en fournissant des détails photographiques.</p>
                                    <p>Il y aura <b>3 tentatives</b> pour récupérer l’article. Si vous ratez les trois
                                        tentatives de récupération de l'article, votre demande de retour sera supprimée
                                        et il ne vous sera plus possible de retourner votre article.</p>
                                </div>
                            </div>
                            <div class="card card-accordion">
                                <a class="card-header collapsed" href="#" data-toggle="collapse"
                                   data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    Dois-je retourner tous les articles de ma commande si je souhaite effectuer un
                                    retour ?

                                </a>

                                <div id="collapseFour" class="collapse" data-parent="#accordion" style="">
                                    <p>Non, vous n’avez pas à retourner l’intégralité de votre commande. Vous pouvez
                                        choisir de retourner seulement certains articles. <b>Néanmoins</b>, tous les
                                        accessoires de l'article en question doivent être retournés, sinon le retour
                                        sera refusé.

                                    </p>

                                </div>
                            </div>
                            <div class="card card-accordion">
                                <a class="card-header collapsed" href="#" data-toggle="collapse"
                                   data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    Dois-payer des frais de transport pour effectuer un retour ?

                                </a>

                                <div id="collapseFive" class="collapse" data-parent="#accordion" style="">
                                    <p>Non, il n’y a aucun frais supplémentaire lorsque vous souhaitez retourner un produit</p>
                                </div>
                            </div>
                            <div class="card card-accordion">
                                <a class="card-header collapsed" href="#" data-toggle="collapse"
                                   data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                    J’ai effectué une demande de retour par collecte à domicile depuis un moment mais personne ne m’a contacté, que dois-je faire ?

                                </a>
                                <div id="collapseSeven" class="collapse" data-parent="#accordion" style="">
                                    <p>Nous vous présentons nos excuses pour ce désagrément. N’hésitez pas à <b><a
                                                    href="mailto:{{parametre().email}}">nous Contacter</a></b> pour plus d’informations.</p>
                                </div>
                            </div>
                            <div class="card card-accordion">
                                <a class="card-header collapsed" href="#" data-toggle="collapse"
                                   data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                    Mon article a été récupéré, mais je n’ai pas de nouvelles depuis, que dois-je faire ?
                                </a>

                                <div id="collapseSix" class="collapse" data-parent="#accordion" style="">
                                    <p>Nous vous présentons nos excuses pour ce désagrément. N’hésitez pas à <b><a
                                                    href="mailto:{{parametre().email}}">nous Contacter</a></b> pour plus d’informations</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div><!-- End .row -->
        </div><!-- End .container -->
    </main><!-- End .main -->


{% endblock %}
